<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--添加处理映射器-->
    <bean class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping"/>
    <!--添加处理器适配器-->
    <bean class="org.springframework.web.servlet.mvc.SimpleControllerHandlerAdapter"/>

    <!--添加视图解析器-->
    <!--
        视图解析器:DispatcherServlet给他的ModelAndView
        1.获取了ModelAndView中的数据（通过addObject()方法传进ModelAndView的数据）
        2.解析ModelAndView中的视图名字（通过setViewName()方法设置的视图名字）
        3.拼接试图名字，找到对应的视图：/WEB-INF/jsp/hello.jsp
        4.将数据渲染到这个视图上
    -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver" id="InternalResourceViewResolver">
        <!--前缀-->
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <!--后缀-->
        <property name="suffix" value=".jsp"/>
    </bean>

    <!--
        Handler
        这里的id为访问路径
        http://localhost:8080/spring_03_hellomvc/iu
    -->
    <bean class="com.guighost.controller.HelloController" id="/iu"/>

</beans>